  #container {
    position: relative;
  }

  #menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.05);
    border: 4px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    z-index: 1000;
  }

  #canvas {
    position: absolute;
    border: 1px solid #999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: -1000;
  }

  #info {
    padding-top: 10px;
    margin-left: 10px;
  }

  .text {
    font-size:15px;
    margin: 4px;
  }

  .controlButton {
    font-size: 30px;
    margin: 10px;
    min-width: 45px;
    min-height: 45px;
  }
